body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff; 
    font-weight: bold;

}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #141414;
    color: #fff; 
}

.logo-container {
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

form input, form textarea, form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    
}

form button {
    background-color: #3f9443;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.fornecedores-container {
    margin-top: 20px;
    font-weight: bold;
}

.container, .fornecedor {
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2c2c2c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.container, .fornecedores-lista, #h2 {
    text-align: center;
    font-weight: bold;
}

.container, .fornecedores-lista, #lista-fornecedores {
    text-align: left;
    font-weight: bold;
}
.remover-fornecedor {
    background-color: #3f9443;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.botao-add-fornecedor:hover, .remover-fornecedor:hover {
    background-color: #4fb654;
}

.container .field-bg {
    background-color: #373737;
    border-color: #373737;
    color: whitesmoke;
}

.container .field-bg::placeholder {
    color: rgb(158, 158, 158);
    opacity: 1; /* Firefox */
  }

